# Copyright 2020 Changkun Ou. All rights reserved.
# Use of this source code is governed by a GPL-3.0
# license that can be found in the LICENSE file.

http:
  routers:
    # github.com/changkun/login
    to-login:
      rule: Host(`login.changkun.de`)
      tls:
        certResolver: changkunResolver
      service: login
    # github.com/changkun/main
    to-main:
      rule: Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`)
      tls:
        certResolver: changkunResolver
      middlewares:
        - gzipcompress
        - main-errorpages
      service: main
    # github.com/changkun/research
    to-research:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&(Path(`/research`)||PathPrefix(`/research/`))
      tls:
        certResolver: changkunResolver
      middlewares:
        - main-errorpages
      service: research
    # research relevant redirectors
    to-talks:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&(Path(`/talks`)||PathPrefix(`/talks/`)||Path(`/talk`)||PathPrefix(`/talk/`)||PathPrefix(`/teach`)||PathPrefix(`/teach/`)||PathPrefix(`/thesis`)||PathPrefix(`/thesis/`)||PathPrefix(`/theses`)||PathPrefix(`/theses/`)||PathPrefix(`/papers`)||PathPrefix(`/papers/`)||PathPrefix(`/paper`)||PathPrefix(`/paper/`))
      tls:
        certResolver: changkunResolver
      middlewares:
        - talks-redirector
        - talk-redirector
        - teach-redirector
        - theses-redirector
        - thesis-redirector
        - papers-redirector
        - paper-redirector
      service: static-changkun
    # github.com/changkun/modern-cpp-tutorial
    # github.com/changkun/blog
    to-static-changkun:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&(Path(`/modern-cpp`)||PathPrefix(`/modern-cpp/`)||PathPrefix(`/blog`)||PathPrefix(`/consent`)||PathPrefix(`/bibtidy`)||PathPrefix(`/demos/`))
      tls:
        certResolver: changkunResolver
      middlewares:
        - gzipcompress
        - main-errorpages
      service: static-changkun
    # github.com/changkun/blog
    to-blog:
      rule: Host(`blog.changkun.de`)
      tls:
        certResolver: changkunResolver
      middlewares:
        - blog-redirector
      service: static-changkun
    to-us:
      rule: Host(`changkun.us`) || Host(`www.changkun.us`) || Host(`ou.changkun.us`)
      tls:
        certResolver: changkunResolver
      middlewares:
        - us-redirector
      service: static-changkun
    # github.com/changkun/urlstat
    to-urlstat:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&PathPrefix(`/urlstat`)
      tls:
        certResolver: changkunResolver
      middlewares:
        - main-errorpages
      service: urlstat
    # github.com/changkun/redir
    to-redir:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&(Path(`/{redir:[srx]}`)||PathPrefix(`/{redir:[srx]}/`))
      tls:
        certResolver: changkunResolver
      middlewares:
        - main-errorpages
      service: redir

    # github.com/changkun/void
    to-void:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&(Path(`/void`)||PathPrefix(`/void/`))
      service: void
      tls:
        certResolver: changkunResolver

    # github.com/changkun/midgard
    to-midgard:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&PathPrefix(`/midgard`)
      tls:
        certResolver: changkunResolver
      middlewares:
        - main-errorpages
      service: midgard
    # github.com/changkun/upbot
    to-upbot:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&PathPrefix(`/upbot`)
      tls:
        certResolver: changkunResolver
      middlewares:
        - main-errorpages
      service: upbot
    # github.com/changkun/go-under-the-hood
    to-golang:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&PathPrefix(`/golang`)
      tls:
        certResolver: changkunResolver
      middlewares:
        - golang-redirector
      service: main
    # github.com/golang-design/ssaplayground
    to-gossa:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`) || Host(`golang.design`) || Host(`www.golang.design`))&&(Path(`/gossa`)||PathPrefix(`/gossa/`))
      tls:
        certResolver: changkunResolver
      service: gossa
    to-llm:
      rule: (Host(`changkun.de`) || Host(`ou.changkun.de`) || Host(`www.changkun.de`))&&(Path(`/llm`)||PathPrefix(`/llm/`))
      tls:
        certResolver: changkunResolver
      service: llm
    # github.com/polyred/website
    to-polyred:
      rule: Host(`poly.red`) || Host(`polyred.org`) || Host(`polyred.de`) || Host(`poly.graphics`) || Host(`polyred.graphics`)
      tls:
        certResolver: polyredResolver
      middlewares:
        - gzipcompress
      service: polyred
    # github.com/golang-design/code2img
    to-code2img:
      rule: (Host(`golang.design`) || Host(`www.golang.design`)) && PathPrefix(`/api/v1/code2img`)
      service: code2img
      tls:
        certResolver: golangdesignResolver
      middlewares:
        - golang-errorpages
    # github.com/golang-design/redir
    to-golangdesign-redir:
      rule: (Host(`golang.design`) || Host(`www.golang.design`)) && (Path(`/{golangdesign-redir:[sx]}`)||PathPrefix(`/{golangdesign-redir:[sx]}/`))
      service: golangdesign-redir
      tls:
        certResolver: golangdesignResolver
      middlewares:
        - golang-errorpages
    # github.com/golang-design/website
    # github.com/golang-design/research
    # github.com/golang-design/under-the-hood
    # github.com/golang-design/go-questions
    to-golangdesign:
      rule: (Host(`golang.design`) || Host(`www.golang.design`)) && (Path(`/`)||Path(`/index.html`)||Path(`/404.html`)||Path(`/sponsors.html`)||Path(`/icons/talkgo.png`)||Path(`/static/{name:(.*)}.js`)||Path(`/static/{name:(.*)}.css`)||Path(`/favicon.svg`)||Path(`/favicon.ico`)||Path(`/favicon.png`)||PathPrefix(`/history`)||PathPrefix(`/under-the-hood`)||PathPrefix(`/research`)||PathPrefix(`/miner`)||PathPrefix(`/go-questions`))
      tls:
        certResolver: golangdesignResolver
      middlewares:
        - gzipcompress
        - golang-errorpages
      service: static-golang
  middlewares:
    talks-redirector:
      redirectRegex:
        regex: "^(.*)changkun.de/talks(.*)"
        replacement: "https://changkun.de/research/talks${2}"
        permanent: true
    talk-redirector:
      redirectRegex:
        regex: "^(.*)changkun.de/talk/(.*)"
        replacement: "https://changkun.de/research/talks/${2}"
        permanent: true
    teach-redirector:
      redirectRegex:
        regex: "^(.*)changkun.de/teach(.*)"
        replacement: "https://changkun.de/research/teach${2}"
        permanent: true
    theses-redirector:
      redirectRegex:
        regex: "^(.*)changkun.de/theses(.*)"
        replacement: "https://changkun.de/research/theses${2}"
        permanent: true
    thesis-redirector:
      redirectRegex:
        regex: "^(.*)changkun.de/thesis(.*)"
        replacement: "https://changkun.de/research/theses${2}"
        permanent: true
    papers-redirector:
      redirectRegex:
        regex: "^(.*)changkun.de/papers(.*)"
        replacement: "https://changkun.de/research/papers${2}"
        permanent: true
    paper-redirector:
      redirectRegex:
        regex: "^(.*)changkun.de/paper/(.*)"
        replacement: "https://changkun.de/research/papers/${2}"
        permanent: true
    golang-redirector:
      redirectRegex:
        regex: "^(.*)changkun.de/golang(.*)"
        replacement: "https://golang.design/under-the-hood/${2}"
        permanent: true
    us-redirector:
      redirectRegex:
        regex: "^(.*)changkun.us/(.*)"
        replacement: "https://changkun.de/blog/${2}"
        permanent: true
    blog-redirector:
      redirectRegex:
        regex: "^(.*)blog.changkun.de/(.*)"
        replacement: "https://changkun.de/blog/${2}"
        permanent: true
    main-errorpages:
      errors:
        status:
          - "404"
        service: main
        query: "/404.html"
    golang-errorpages:
      errors:
        status:
          - "404"
        service: static-golang
        query: "/404.html"
    blog-errorpages:
      errors:
        status:
          - "404"
        service: blog
        query: "/404.html"
    gzipcompress:
      compress: {}
  services:
    login:
      loadBalancer:
        servers:
        - url: http://login
    main:
      loadBalancer:
        servers:
        - url: http://main
    research:
      loadBalancer:
        servers:
        - url: http://research
    static-changkun:
      loadBalancer:
        servers:
        - url: http://www-changkunde
    static-golang:
      loadBalancer:
        servers:
        - url: http://www-golangdesign
    redir:
      loadBalancer:
        servers:
        - url: http://redir
    golangdesign-redir:
      loadBalancer:
        servers:
        - url: http://golangdesign-redir
    urlstat:
      loadBalancer:
        servers:
        - url: http://urlstat
    midgard:
      loadBalancer:
        servers:
        - url: http://midgard
    upbot:
      loadBalancer:
        servers:
        - url: http://upbot
    gossa:
      loadBalancer:
        servers:
        - url: http://gossa
    code2img:
      loadBalancer:
        servers:
        - url: http://code2img
    polyred:
      loadBalancer:
        servers:
        - url: http://polyred
    void:
      loadBalancer:
        servers:
        - url: http://void
    llm:
      loadBalancer:
        servers:
        - url: http://llm
